html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    font-family: "Trirong", serif;
    background-color: #d6f1ff;
}

.header, .footer {
    text-align: center;
    padding: 30px;
    background-color: midnightblue;
    color: white;
}

.navbar {
    background-color: #a5ffff;
    padding: 10px;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}

.navbar li {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 20px;
}

.navbar .current {
    background-color: midnightblue;
}

.navbar .current a {
    color: white;
}

.navbar li:hover {
    transform: scale(1.1);
}

.navbar a {
    color: midnightblue;
}

.navbar a:hover {
    color: #5ac0ff;
}

.image {
    width: 30%;
    max-width: 500px;
    height: auto;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}

.about h2 {
    font-size: 30px;
    letter-spacing: 2px;
}

.content {
    margin: 30px;
    width: calc(70% - 90px);
    display: inline-block;
}

.career, .books {
    display: inline-block;
    width: 45%;
}

.career li, .books li {
    margin-bottom: 5px;
}

.books li {
    list-style-type: square;
}

.more {
    text-align: center;
    font-family: "Audiowide", sans-serif;
    width: 200px;
    margin-left: auto;
    background-color: midnightblue;
    padding: 15px;
    border-radius: 10px;
}

.more:hover {
    transform: scale(1.1);
}

.more a {
    color: white;
}

.more a:hover {
    color: #5ac0ff;
}

.footer {
    padding: 10px;
    width: calc(100% - 20px);
    height: 50px;
}