body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Trirong", serif;
    background-color: #bbebff;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#header, .footer {
    text-align: center;
    padding: 30px;
    background-color: midnightblue;
    color: white;
}

.navbar {
    background-color: #a5ffff;
    padding: 10px;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}

.navbar li {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 20px;
}

.navbar .current {
    background-color: midnightblue;
}

.navbar .current a {
    color: white;
}

.navbar li:hover {
    transform: scale(1.1);
}

.navbar a {
    color: midnightblue;
}

.navbar a:hover {
    color: #5ac0ff;
}

.table {
    padding: 30px;
}

tr:nth-child(odd) {
    background-color: #abf4ff;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: midnightblue;
    color: white;
}

.highlight-row {
    background-color: #f7ff82;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: calc(100% - 20px);
    height: 50px;
}